// *******************************************
// Color
// *******************************************
$color-white: #fff;
$color-white-dark: #f7f7f7;
$color-white-dark-2: #eee;
$color-grey-light: #ccc;
$color-grey: #888;
$color-grey-dark: #777;
$color-black-light: #333;
$color-black: #000;

$color-primary-light: #7ed56f;
$color-primary: #55c57e;
$color-primary-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange: #fd7a0f;
$color-orange-dark: #f8732c;

$color-blue-light: #2a97ff;
$color-blue: #406dfc;
$color-blue-dark: #5644fa;

// *******************************************
// Length
// *******************************************
$padding-section: 12%;
